
<div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <h1>Error 404</h1>
                <a asp-controller="Home" asp-action="Index" title="Home">Home</a> / Error 404
            </div>
            <div class="col-12 col-lg-5 text-right">
                <h4>
                    We freight to all over the world
                    The best logistic company, <span>FAST</span> and <span>SAFELY!</span>
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- Breadcroumbs end -->
<!-- Error 404 Start -->
<div class="wshipping-content-block" id="maincontent">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="error-section">
                    <img src="~/assets/images/404.png" alt="" />
                    <h2>Page not found</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium nesciunt perspiciatis laborum aliquid cupiditate distinctio minus quae officia repellendus maxime. Quia deserunt nostrum consequuntur veniam, quae quisquam saepe vel. Quod.</p>
                    <a href="index.html" class="wshipping-button cta-btn">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Error 404 end -->
  