
  <!-- Breadcroumbs start -->
  <div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-7">
            <h1>Our Services</h1>
            <a href="index.html" title="Home">Home</a> / Our Services
         </div>
         <div class="col-12 col-lg-5 text-right"><h4>We freight to all over the world
The best logistic company, <span>FAST</span> and <span>SAFELY!</span></h4></div>
      </div>
    </div>
  </div>
  <!-- Breadcroumbs end -->
  
  <!-- Our Services Start -->
  <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-6 offset-lg-3">
            <div class="section-title wow fadeInUp">
               <h2>Our Services</h2>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp">
               <div class="service-item-bg service-bg-1"></div>
               <div class="service-content">
                  <h3>Ocean Freight Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="single-services.html" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp">
               <div class="service-item-bg service-bg-2"></div>
               <div class="service-content">
                  <h3>Air Freight Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="single-services.html" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp">
               <div class="service-item-bg service-bg-3"></div>
               <div class="service-content">
                  <h3>Car Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="single-services.html" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp">
               <div class="service-item-bg service-bg-3"></div>
               <div class="service-content">
                  <h3>Car Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp">
               <div class="service-item-bg service-bg-1"></div>
               <div class="service-content">
                  <h3>Ocean Freight Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="single-services.html" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp">
               <div class="service-item-bg service-bg-2"></div>
               <div class="service-content">
                  <h3>Air Freight Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="single-services.html" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>
  <!-- Our Services end -->
    
  <!-- Our client start -->  
  <div class="wshipping-content-block client-block pt0">
   <div class="container">
      <div class="row">
        <div class="col-12"><h3 class="heading3-border text-uppercase">Our Valuable Client</h3></div>
        <div class="owl-carousel our-client">
          <div class="client-item"><img src="~/assets/images/client-1.jpg" alt=""/></div>
          <div class="client-item"><img src="~/assets/images/client-2.jpg" alt=""/></div>
          <div class="client-item"><img src="~/assets/images/client-3.jpg" alt=""/></div>
          <div class="client-item"><img src="~/assets/images/client-4.jpg" alt=""/></div>
          <div class="client-item"><img src="~/assets/images/client-5.jpg" alt=""/></div>
          <div class="client-item"><img src="~/assets/images/client-6.jpg" alt=""/></div>
          <div class="client-item"><img src="~/assets/images/client-1.jpg" alt=""/></div>
          <div class="client-item"><img src="~/assets/images/client-2.jpg" alt=""/></div>
        </div>
      </div>  
    </div>
  </div>
  <!-- Our client end -->